ILLUMIO_PCE_FQDN=pce.my-company.com
ILLUMIO_PCE_PORT=8443
ILLUMIO_ORG_ID=1
ILLUMIO_API_KEY_ID=api_xxxxxxxxxxxxxxxxxxxx
ILLUMIO_API_SECRET_TOKEN=token_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Email SMTP settings (optional, will mock print to console if not set)
SMTP_SERVER=smtp.my-company.com
SMTP_PORT=587
SMTP_USER=user@my-company.com
SMTP_PASSWORD=my-email-password
EMAIL_SENDER=alert@my-company.com
EMAIL_RECEIVER=admin@my-company.com
